.button {
    margin: 0 auto;
    text-align: center;
    
}
.button_click {
    line-height: 20px;
    border-radius: 60px;
    padding: 10px 20px;
    font-size: 25px;
    color: white;
    //background-color: #ffae19;
    background-color: orange;
}